var 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  .grid-container {
    width: calc(15 + 100);
    padding: 8px;
    margin-top: 90px;
    margin-left: 50px;
    border: 2px solid black;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(7, 3fr);
    grid-template-rows:repeat(9, 3fr);
  }
  
  .grid-item {
    border: 2px solid green;

}