{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block profile %}

<div class="dashboard-container">
    <div class="sidebar">
        <h2>Dashboard</h2>
        <ul>
            <li><a href="#" id="profileLink">Profile</a></li>
            <li><a href="{% url 'settings' %}" id="profileSettingsLink">Profile Settings</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>

    <div class="main-content">
        <header>
            <div class="head-profile">
                <h1>User Profile</h1>
                {% if request.user.image %}
                <img src="{{ request.user.image.url }}" alt="User Profile"
                width="65"
                height="65"
                style="border-radius: 50%;"
                >
                {% else %}
                <p>No Image</p>
                {% endif %}
            </div>
        </header>

        <!-- Profile Section -->
        <section id="profileSection">
            <h2>Profile Information</h2>
            <div class="profile-item">
                <label for="username">Username:</label>
                <input type="text" id="username" value="{{ request.user.username }}" disabled>
            </div>

            <div class="profile-item">
                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" value="{{ request.user.last_name }}" disabled>
            </div>

            <div class="profile-item">
                <label for="email">Email:</label>
                <input type="email" id="email" value="{{ request.user.email }}" disabled>
            </div>

            <div class="profile-item">
                <label for="password">Password:</label>
                <input type="password" id="password" value="" placeholder="********" disabled>
            </div>

            <div class="profile-item">
                <label for="image">Photo:</label>
                <label for="imageUpload" style="width: 150px;">
                    {% if request.user.image %}
                    <img width="150" height="150" style="border-radius: 100px;"
                        src="{{ request.user.image.url }}" alt="User Photo">
                    {% else %}
                    <p>No Image</p>
                    {% endif %}
                </label>
            </div>

            <div class="profile-actions">
                <button type="button" id="editProfileBtn">Edit Profile</button>
                <input type="submit" id="saveProfileBtn" value="Save"/>
            </div>
        </section>
        
    </div>
    
</div>

{% endblock %}
